{% load static%}
{%if request.user.is_authenticated%}
    <a href="{%url 'logout'%}"> logout </a>
{%endif%}
<h1> {{match.pool.tournament}} </h1>
<h2> {{match.pool}}
<h3>Match : {{match.display}}</h3>
        {%if match.time%}
            <p>On {{match.time}}</p>
        {%endif%}
        {%if match.place%}
            <p>Location : {{match.place}}</p>
        {%endif%}

<h4> Comments </h4>
{%if commentaires%}
    {%for commentaire in commentaires%}
    {% if commentaire.id == comm.id%}
    <form method="post" action="{% url 'app:modif_comm' match.id comm.id%}">
        {% csrf_token %}
        {{ form }}
        <input type="submit" value="Publish">
    </form>
    {%else%}
        {%if request.user.is_authenticated and commentaire.author == request.user %}
            <p> {{commentaire.author.username}} : <br> {{commentaire.content}}
            <br> Click <a href="{%url 'app:modif_comm' match.id commentaire.id%} ">here</a> to modify your comment.</p>
        {%else%}
            <p> {{commentaire.author.username}} : {{commentaire.content}} </p>
        {%endif%}
    {%endif%}
    {%endfor%}
{%else%}
    <p> No comments yet. </p>
{%endif%}